*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
.env.*
*.env
**/.env
**/.env.*
functions/.env
functions/.env.*
functions/.runtimeconfig.json
*.secret
*.pem
*.key
debug.keystore
*.apk
node_modules/
.dart_tool/
flutter_client/build/
flutter_client/.dart_tool/
flutter_client/.flutter-plugins
flutter_client/.flutter-plugins-dependencies
flutter_client/ios/Pods/
flutter_client/ios/.symlinks/
flutter_client/ios/Flutter/Generated.xcconfig
flutter_client/ios/Flutter/app.framework
flutter_client/ios/Flutter/Flutter.framework
flutter_client/ios/Flutter/Flutter.podspec
flutter_client/ios/Flutter/ephemeral/
flutter_client/ios/Flutter/flutter_export_environment.sh
